<% if logged_in? %>
<ul class = "u">
<li>Employee Portal Admin</li>
<li><%= link_to "Dashboard",admin_dashboard_url  %></li>
<li><%= link_to "Employee",admin_employee_url  %></li>
<li><%= link_to "Projects",admin_project_url  %></li>
<li class = "logout"><%= link_to "Log out", logout_path, method: :delete %></li>
</ul>
<% else %>
<%= link_to "Wrong Signup, click here to go to Home", root_url %>
<% end %>